/* lock */
.lock {
    overflow: hidden;
}
/* overlay */
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
}
/* header */
.header {
    padding-top: 24px;
    padding-bottom: 18px;
    background-color: var(--color-dark-blue);
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__buttons {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.header__button {
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 12px;
    text-transform: uppercase;
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}
.header__button:hover {
    cursor: pointer;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
}
@media (max-width: 768px) {
    .nav__logo {
        display: none;
    }
}
/* nav */
.header__nav {
}
.nav {
    padding: 20px;
    width: 100%;
    max-width: 415px;
    border-radius: 12px;
    background: #040320;
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo {
    display: none;
}
.nav__item {
    position: relative;
}
.nav__link {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-white);
}
.link-hover:after {
  display:block;
  content: '';
  border-bottom: solid 1px var(--color-blue);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.link-hover:hover:after {
    transform: scaleX(1); 
}

.nav__link--drop {

}
.nav__link--drop::after {
    content: "";
    margin-left: 8px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(../img/header/arrow.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transfrom 0.3s;
}
.nav__list--dropdown {
    position: absolute;
    display: block;
    padding: 30px;
    top: 100%;
    left: 0;
    z-index: 3;
    background-color: #040320;
    box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.2);
    transition: background-color 0.3s, opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.dropdown-list {
}
.dropdown-submenu {
    display: flex;
    flex-wrap: wrap;
    align-items: initial;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
    width: 670px;
    border-radius: 12px;
}
.dropdown-list__item {
}
.mobile-back {
    display: none;
}
.dropdown-list__link {
}
.mobile-back__link {
}
.dropdown-submenu__item {
    padding: 20px;
    max-width: 295px;
    border-radius: 20px;
    background-color: #181E38;
    transition: background-color 0.3s ease-in-out;
}
 .dropdown-submenu__item:hover {
    cursor: pointer;
    background-color: #040320;
}
.dropdown-submenu__row {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}
.dropdown-submenu__image {
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(215deg, #2B3255 0%, rgba(96, 46, 201, 0.00) 100%);
    backdrop-filter: blur(15px)
}
.dropdown-submenu__title {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-white);
}
.dropdown-submenu__tex {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);
}
.dropdown-submenu__list {
}
.dropdown-submenu__list-item {
}
@media (max-width: 991.98px) {
    .dropdown-submenu {
        width: 580px;
    }
    .dropdown-submenu__item {
        max-width: 250px;
    }
}
@media (min-width: 769px) {
    .nav__item:hover .nav__link--drop::after {
        transform: rotate(180deg);
        transition: transfrom 0.3s ease-in-out;
    }
    .nav__item:hover .nav__list--dropdown {
        opacity: 1;
        visibility: visible;
    }
}
.nav__button {
    display: none;
}
.info-nav {
    display: none;
}
/* burger */
.burger {
    position: relative;
    display: none; 
    width: 40px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.burger::before,
.burger::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
}
.burger::after {
    top: auto;
    bottom: 0;
}
.burger span {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
    background-color: var(--color-white);
}
@media (max-width: 768px) {
    .burger {
        display: block;
    }
    .mobile-back {
        display: block;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 400px;
        width: 80%;
        height: 100vh;
        z-index: 100;
        box-shadow: 5px 0 15px -5px rgba(0,0,0, 0.8);
        background-color: var(--color-dark-blue);
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(-150vw);
    }
    .nav__list {
        flex-direction: column;
        align-items: flex-start;
        padding: 80px 30px 0;
        position: relative;
    }
    .nav__item {
        width: 100%;
        position: static;
    }
    .nav__link--drop {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav__link {
        font-size: 20px;
        font-weight: 700;
    }
    .nav__link--drop::after {
        transform: rotate(270deg);
    }
    .nav__list--dropdown {
        position: absolute;
        display: none;
        width: 100%;
        top: 0;
        right: auto;
        left: 100%;
        box-shadow: none;
    }

    /* .nav__list--dropdown {
        display: block;
        opacity: 1;
        visibility: visible;
    } */

    .dropdown-submenu__item {
        width: 100%;
    }

    .nav__list.transformation {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }
    .nav__list--dropdown.transformation {
        display: block;
        opacity: 1;
        visibility: visible;
        background-color: var(--color-dark-blue);
        transform: none;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .nav.open {
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }

    .overlay.open {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .mobile-back a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .mobile-back a::before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        width: 10px;
        height: 10px;
        background-image: url(../img/header/arrow.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(90deg);
    }


    .nav__title {
        display: block;
        padding: 24px 30px 0;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--color-white);
    }
}
@media (max-width: 768px) {
    .header__button {
        display: none;
    }
    .nav__logo {
        display: inline-block;
    }
    .mobile-back {
        margin-bottom: 24px;
    }
    .mobile-back__link {
        font-size: 20px;
        font-weight: 700;
        color: var(--color-white);
    }
    .dropdown-submenu__item {
        max-width: 100%;
    }
    .dropdown-submenu__item:not(:last-child) {
        margin-bottom: 24px;
    }
    .nav__button {
        width: 100%;
        padding: 8px 32px;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        background-color: transparent;
        color: var(--color-white);
        border: 1px solid var(--color-white);
        border-radius: 12px;
        text-transform: uppercase;
        transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    .nav__button:hover {
        cursor: pointer;
        color: var(--color-blue);
        border: 1px solid var(--color-blue);
    }
    .nav__item:last-child {
        margin-top: 30px;
    }

    .nav__button {
        display: block;
    }
    .info-nav {
        display: inline-block;
        margin-top: 24px;
        width: 100%;
    }
    .info-nav__row {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .info-nav__number {
        font-size: 16px;
        line-height: 24px;
        color: var(--color-white);
    }
    .info-nav__icons {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .info-nav__icon {
    }
    .info-nav__email {
        font-size: 16px;
        line-height: 24px;
        color: var(--color-white);
    }
    .nav__item:not(:last-child) {
        margin-bottom: 16px;
    }
}

@media (max-width: 499.98px) {
    .header__logo {
        position: relative;
        z-index: 1;
    }
    .info-nav__row {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .info-nav__icons {
        column-gap: 10px;
    }
    .info-nav__number {
        order: 2;
    }
    .nav__list {
        padding: 60px 20px 0px 0px;
    }
    .dropdown-submenu__text {
        display: none;
    }
    .dropdown-submenu__item {
        padding: 0;
        background-color: transparent;
    }
}

/* get-started */
.get-started {
    padding-bottom: 120px;
    border-radius: 0px 0px 80px 80px;
    background: linear-gradient(218deg, #030712 0%, #232178 81.00%);
}
.get-started__container {
    position: relative;
}
.get-started__container::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 102px;
    height: 100px;
    background-image: url(../img/TheEarth.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 45px;
}
.get-started__content {
    max-width: 881px;
}
.get-started__title {
    color: var(--color-white);
}
.get-started__subtitle {
    color: rgba(255, 255, 255, 0.56);
}
@media (max-width: 768px) {
    .get-started__container::before {
        display: none;
    }
    .get-started {
        border-radius: 0px 0px 60px 60px;
    }
}
@media (max-width: 499px) {
    .get-started {
        padding-bottom: 70px;
        border-radius: 0px 0px 40px 40px;
    }
}
/* pages */
.pages {
    padding: 52px 0 12px;
    background-color: transparent;
}
.pages__list {
    display: flex;
    align-items: center;
    gap: 10px;
}
.pages__item {
}
.pages__item span {
    display: flex;
    width: 3px;
    height: 3px;
    background-image: url(../img/Ellipse\ 42.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.pages__link {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #C5C5D7;
}
.pages__link img {
    display: flex;
}
/* who-we */
.who-we__content {
    padding-top: 150px;
    position: relative;
    max-width: 881px;
}
.who-we__content::before {
    content: '';
    position: absolute;
    top: 36px;
    right: 160px;
    width: 93px;
    height: 93px;
    background-image: url(../img/payment/solar-system1.png);
    background-repeat: no-repeat;
}
.who-we__content::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: -100px;
    width: 59px;
    height: 58px;
    background-image: url(../img/payment/solar-system2.png);
    background-repeat: no-repeat;
}
.who-we__name--section {
    color: var(--color-white);
}
.who-we__title {
    color: var(--color-white);
}
.who-we__subtitle {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.56);
}
@media (max-width: 1024px) {
    .who-we__content::after {
        right: 0px;
    }
}
@media (max-width: 768px) {
    .who-we__content::before {
        display: none;
    }
    .who-we__content::after {
        display: none;
    }
    .who-we__content {
        padding-top: 100px;
    }
}
@media (max-width: 499px) {
    .who-we__content {
        padding-top: 70px;
    }
}

/* info */
.info {
    padding: 100px 0;
}
.info__container {
}

.info__content {
    margin: 0 auto;
    max-width: 661px;
}
.info__text:not(:last-child) {
    margin-bottom: 12px;
}
.info__text {
    color: var(--color-dark);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
@media (max-width: 768px) {
    .info {
        padding: 70px 0;
    }
}

/* our-values */
.our-values {
    padding: 120px 0;
    border-radius: 80px 80px 80px 80px;
    background-color: #030712;
}
@media (max-width: 768px) {
    .our-values {
        padding: 100px 0;
        border-radius: 60px 60px 60px 60px;
    }
}
@media (max-width: 499px) {
    .our-values {
        padding: 70px 0;
        border-radius: 40px 40px 40px 40px;
    }
}
.container {
}
.our-values__container {
    position: relative;
}
.our-values__container::before {
    content: '';
    position: absolute;
    bottom: 270px;
    left: 0;
    width: 93px;
    height: 93px;
    background-image: url(../img/why-choose-us/solar-system.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.our-values__container::after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 240px;
    width: 58px;
    height: 58px;
    background-image: url(../img/why-choose-us/solar-system-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.our-values__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 120px;
}
.our-values__content {
    max-width: 410px;
}
.our-values__title {
    margin-bottom: 24px;
    color: var(--color-white);
}
.our-values__text {
    margin-bottom: 40px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.why-us__button {
}
.why-us__item {
}

.our-core-values {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.our-core-values__item:not(:first-child) {
    margin-top: 120px;
}
.our-core-values__item:not(:last-child) {
    margin-right: 112px;
}
.our-core-values__content {
    padding: 20px;
    max-width: 210px;
    min-height: 223px;
    border-radius: 20px;
    background-color: #0A0E22;
}
.our-core-values__content:hover {
    cursor: pointer;
    background-color: #040320;
    transition: background-color 0.3s ease-in-out;
}

.our-core-values__content:not(:last-child) {
    margin-bottom: 80px;
}
.our-core-values__image {
    margin-bottom: 20px;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(215deg, #2B3255 0%, rgba(96, 46, 201, 0.00) 100%);
    backdrop-filter: blur(15px);
}
.our-core-values__title {
    margin-bottom: 12px;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}
.our-core-values__text {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
@media (max-width: 991px) {
    .our-values__body {
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
}
@media (max-width: 768px) {
    .our-core-values__item:not(:first-child) {
        margin-top: 0px;
    }
    .our-values__body {
        padding-bottom: 100px;
    }
    .our-values__container::before {
        display: none;
    }
    .our-values__container::after {
        display: none;
    }
    .our-core-values__item:not(:last-child) {
        margin-right: 32px;
    }
}

@media (max-width: 499px) {
    .our-values__body {
        padding-bottom: 70px;
    }
    .our-core-values {
        flex-wrap: wrap;
        row-gap: 32px;
    }
    .our-core-values__content:not(:last-child) {
        margin-bottom: 32px;
    }
    .our-core-values__item:not(:last-child) {
        margin-right: 0;
    }
    .our-core-values__content {
        max-width: 100%;
        min-height: 200px;
    }
    .our-values__button {
        width: 100%;
    }
}

/* our-mission */
.our-mission {
    padding-top: 120px;
}
.our-mission__container {
}
.our-mission__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 10px;
}
.our-mission__item {
    max-width: 497px;
}
.our-mission__item:not(:first-child) {
    max-width: 400px;
}
.our-mission__name--section {
}
.our-mission__title {
}
.our-mission__subtitle {
}
.our-mission__image {
    margin-bottom: 40px;
    max-width: 400px;
    background-color: var(--color-grey);
}
.our-mission__image img {
    max-width: 100%;
}
.our-mission__text {
    color: var(--color-dark);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.our-mission__text:not(:last-child) {
    margin-bottom: 40px;
}
@media (max-width: 768px) {
    .our-mission {
        padding-top: 100px;
    }
    .our-mission__items {
        row-gap: 40px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media (max-width: 499px) {
    .our-mission {
        padding-top: 70px;
    } 
}

/* our-vision */
.our-vision {
    padding: 120px 0;
}
.our-vision__container {
}
.our-vision__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 10px;
}
.our-vision__item {
    max-width: 497px;
}
.our-vision__item:not(:first-child) {
    max-width: 400px;
}
.our-vision__name--section {
}
.our-vision__title {
}
.our-vision__subtitle {
}
.our-vision__image {
    margin-bottom: 40px;
    max-width: 400px;
    background-color: var(--color-grey);
}
.our-vision__image img {
    max-width: 100%;
}
.our-vision__text {
    color: var(--color-dark);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.our-vision__text:not(:last-child) {
    margin-bottom: 40px;
}
@media (max-width: 768px) {
    .our-vision {
        padding: 100px 0;
    }
    .our-vision__items {
        row-gap: 40px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media (max-width: 499px) {
    .our-vision {
        padding: 70px 0;
    } 
}

/* footer */
.footer {
    padding-top: 120px;
    background: linear-gradient(218deg, #030712 0%, #232178 81.00%);
    position: relative;
    z-index: 2;
}

.footer__container {
    
}
.footer::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: -1;
    width: 499px;
    height: 200px;
    transform: rotate(0deg);
    border-radius: 1593.759px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    filter: blur(150px);
}
.footer__content {

}
.content-footer {
}
.content-footer__item {
}
.content-footer__name-section {
    margin-bottom: 20px;
    color: var(--color-white);
}
.content-footer__title {
    color: var(--color-white);
}
.content-footer__subtitle {
    margin-bottom: 40px;
}
.content-footer__button {
}
.footer__items {
    margin-top: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 100px;
}
.footer__wrapper {
}
.footer__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--color-grey);
}
.footer__list {
}
.footer__item:not(:last-child) {
    margin-bottom: 10px;
}
.footer__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-white);
}
.footer__icons {
    display: flex;
    align-items: center;
    gap: 16px;
}
.footer__icon {
}
@media (max-width: 768px) {
    .footer {
        padding-top: 100px;
    }
    .footer__items {
        padding-bottom: 70px;
    }
}

@media (max-width: 499px) {
    .footer__items {
        margin-top: 40px;
        padding-bottom: 40px;
    }
    .footer {
        padding-top: 70px;
    } 
    .footer::after {
        width: 280px;
    }
    .footer__items {
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 30px;
        justify-content: flex-start;
    }
    .footer__title {
        margin-bottom: 10px;
    }
    .footer__item {
        margin-bottom: 8px;
    }
}

@media (max-width: 376px) {
    .content-footer__button {
        width: 100%;
    }
}

/* footer__copy */
.footer__copy {
    padding: 20px 0;
    background-color: var(--color-white);
}
.copyright {
}
.copyright__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}
.copyright__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}
.copyright__content {
    max-width: 777px;
    width: 100%;
}
.copyright__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-dark);
}
.copyright__item {
}
.copyright__link {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-dark);
}

@media (max-width: 768px) {
    .copyright__container {
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 20px;
    }
}